.admin-user-div {

    .admin-user-table-title {
        display: flex;
        width: 40%;
        margin: 0 auto;
        align-items: center;
        text-align: center;

        li {
            padding: 10px;
            border: 2px solid green;
        }
    }
}