.products-page {
    background-color: #FAFAFA;

    .products-header {
        margin-top: 3rem;
        text-align: center;
        display: block;

        .products-header-text {
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #051934;
            padding-top: 3rem;
        }
    }

    .products-actions {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-top: 2.5rem;

        .products-actions-col {
            width: 75%;
            padding-left: 15px;
            padding-right: 15px;

            #products-main {
                display: flex;
                justify-content: space-between;
                margin-top: 0;
                margin-bottom: 1rem;
                padding-left: 2rem;

                li {
                    padding: 0 5%;
                    height: 55px;
                    line-height: 55px;
                    text-align: center;
                    border-radius: 8px;
                    background-color: #fff;
                }

                .active {
                    background-color: #bb221a;
                    color: #fff;
                }

                .products-actions-items {
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}

.products {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    .products-col {
        display: flex;
        justify-content: space-around;
        width: 23%;
        padding: 0 0.75rem;

        .col {
            flex-grow: 1;

            .product-card {
                display: flex;
                justify-content: center;
                margin-top: 3rem;
                margin-bottom: 3rem;

                .product-img-div {
                    background-color: #fff;
                    border-radius: 1rem !important;
                    display: block;
                    overflow: hidden;
                    transition: all 0.3s linear;
                    height: 408px !important;
                    max-width: 264px !important;
                    object-position: center;
                    padding: 0.68rem !important;

                    &:hover {
                        box-shadow: 1px 1px 20px 10px #eceaea !important;
                    }

                    .product-img {
                        padding: 1.5rem;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 1rem !important;
                        cursor: pointer;
                        transition: all 0.3s linear;
                        background-color: #fafafa;

                        &:hover {
                            transform: scale(1.1);
                        }

                    }

                    .product-text {
                        margin-top: 15px;
                        padding-left: 0.5rem;

                        p {
                            font-size: 14px;
                            margin-bottom: 0;
                            text-align: justify;
                            margin-top: 0;
                        }
                    }

                    .product-count-basket {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        padding-left: 0.5rem;

                        p {
                            font-size: 19px;
                            margin-bottom: 0.25rem;
                            font-weight: 700;
                            text-align: justify;
                            margin: auto 0;
                        }

                        .product-basket {
                            height: 60px;
                            width: 60px;
                            background: rgba(63, 201, 100, .1);
                            cursor: pointer;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            border-radius: 50%;

                            margin-right: 0.5rem;
                            font-weight: 400;
                            line-height: 1.5;
                            color: #212529;
                            text-align: center;
                            text-decoration: none;
                            vertical-align: middle;
                            border: 1px solid transparent;
                            padding: 0.375rem 0.75rem;
                            font-size: 1rem;
                            transition: color .3s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                            &:hover {
                                background: #3fc964;
                                color: #212529;
                                background-image: url('https://slavyanka.az/static/media/ShoppingLight.8e403ab1.svg');
                                background-position: center;
                                background-repeat: no-repeat;

                            }

                            &:hover>img {
                                visibility: hidden;
                                opacity: 0;
                            }

                            img {
                                object-fit: cover;
                                border-radius: 1rem !important;
                                cursor: pointer;
                                transition: all .3s linear;
                                vertical-align: middle;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.active {
    background-color: red;
}


.oneProduct {
    max-width: 1170px;
    min-height: 739px;
    margin: 32px auto;
    grid-gap: 30px;
    gap: 30px;
    padding: 30px;
    background-color: #fff;

    border: 1px solid #cedef3;
    border-radius: .2rem;

    display: flex;
    flex-wrap: wrap;
    border-radius: .25rem;

    .one-product-image {
        width: 48%;
        background-color: rgb(250, 250, 250);
        border: 1px solid #cedef3;
        border-radius: .2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            vertical-align: middle;
        }
    }

    .one-product-desc {
        border: 1px solid #cedef3;
        border-radius: .2rem;
        padding: 3rem 0.5rem 1.5rem 0.5rem;
        // width: 40%;
        width: 49%;

        h2 {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: .5rem;
            line-height: 1.2;
        }


        p {
            white-space: wrap;
            margin-top: 0;
            margin-bottom: 1rem;
            text-align: justify;
            line-height: 24px;
        }

        .colort2 {
            color: #707070;
        }

        .colort1 {
            color: #929caa;
        }
    }
}

.makro-elements {
    display: flex;
    flex-wrap: wrap;

    .colort4 {
        color: #1fa9ff;
        border: 1px solid #1fa9ff;
        padding: 6px 12px;
        border-radius: 10px;
        cursor: pointer;
        margin: 0.5rem;
        flex-shrink: 1;
    }
}

.one-product-count {
    display: flex;
}