@mixin for-tablet-landscape-up {
    @media (max-width:992px) {
        @content;
    }
}

// @include for-tablet-landscape-up(){}

@mixin for-tablet-portrait-up {
    @media (max-width: 768px) {
        @content;
    }
}

// @include for-tablet-portrait-up(){}

@mixin for-mobile-L {
    @media (max-width:576px) {
        @content;
    }
}

// @include for-mobile-L(){}

.login-div {
    text-align: center;
    background-color: white;
    width: 50%;

    @include for-tablet-landscape-up() {
        width: 56%;
    }

    @include for-tablet-portrait-up() {
        width: 66.6%;
    }

    @include for-mobile-L() {
        width: 75%;
    }

    margin: 0 auto;
    margin-top: 5vh;
    border-radius: 18px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;

    .login-desc {
        font-style: normal;
        letter-spacing: 0;
        font-weight: 700;
        line-height: 23px;
        color: #051934;
        padding-top: 3rem;
        font-size: 20px;
        padding: 3rem 1rem 1rem 1rem;
    }

    form {
        .input-div {
            padding-top: 1rem;
            display: flex;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;

            .form-input {
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .04);
                border-radius: 8px;
                font-size: 16px;
                color: rgba(0, 0, 0, .5);
                font-weight: 500;
                margin-bottom: 0.5rem;
                background-color: #ffffff;
            }
        }
    }
}

.login-forget-password {
    font-weight: 500;
    color: #bb221a;
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    line-height: 18px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;

    Link {
        border: 1px solid red;
    }
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1px;
    padding: 1.5rem 15px 3rem 15px;

    div {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        color: #051934;
        border: 1px solid #f2f2f2;
        height: 50px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            text-decoration: underline;
            cursor: pointer;
            margin-left: 0.25rem;
        }
    }
}

.login-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;

    .login-btn {
        width: 95%;
        background-color: #3fc964;
        height: 55px;
        border-color: #198754;
        color: #fff;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,
            background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #157347;
            border-color: #146c43;
        }
    }
}

.login-btn {
    margin-bottom: 1.5rem;
}

.na-sub-text {
    color: #929caa;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    text-align: left;
    padding: 1rem;
}

.na-text {
    font-style: normal;
    letter-spacing: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #051934;
    padding: 1rem;
    padding-top: 2rem;
}