.admin-navbar-all {
    background-color: #EDF2F9;
    border-bottom: 2px solid #7a9ac5;

}

.admin-nav {
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.admin-navbar-link {
    transition: all 0.3s ease;

    li {
        color: #5e6e82;
        transition: all 0.3s ease;
        font-size: 18px;
    }

    &:hover li {
        color: #010b16;

    }
}